<footer class="bg-dark py-3 mt-3">
  <div class="container text-light text-center">
    <p>Erichson's Garage</p>
    <div class="socials">
      <a href="https://www.instagram.com/erichsonsgarage/" target="_blank">
        <img id="instagram" src="/assets/images/insta.png" alt="Instagram">
      </a>
      <a href="https://www.facebook.com/groups/124163370562557" target="_blank">
        <img src="/assets/images/facebook.png" alt="Facebook">
      </a>
    </div>
    <small class="text-white-50">&copy; Copyright 2024. All rights reserved.</small>
  </div>
</footer>