<div class="container">
    <div class="row" id="top-section">
        <div class="col-lg-6">
            <img src="../../assets/images/catrine.jpg" alt="Catrine Erichson">
        </div>
        <div class="col-lg-6">
            <h1>Bliv den bedste version af dig selv</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ratione mollitia nam cumque cum qui
                voluptates, unde, laudantium ad accusantium a labore sit dignissimos exercitationem.</p>
            <div id="sec-1-buttons">
                <button mat-flat-button color="primary" routerLink="/hold">Se holdplan</button>
                <button mat-flat-button color="accent" routerLink="/medlemskab">Tilmeld dig</button>
            </div>
        </div>
    </div>

    <div class="row" id="boble-section">
        <div class="col-lg-4">
            <img src="../../assets/images/circle-img-1.png" alt="Catrine Erichson">
            <h3>Holdtræning</h3>
            <p>Træn sammen i garagen 1 eller 2 gange om ugen. Vi laver forskellige crossfit øvelser og HIIT øvelser.</p>
            <button mat-flat-button color="accent" routerLink="/hold">Se mere</button>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/images/circle-img-2.png" alt="Catrine Erichson">
            <h3>Garagen</h3>
            <p>Hvem er Catrine, og hvordan startede garagen? Læs om garagens historie her.</p>
            <button mat-flat-button color="accent" routerLink="/kontakt">Se mere</button>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/images/circle-img-3.png" alt="Catrine Erichson">
            <h3>Events</h3>
            <p>Tag med garagen på retreat. Få en oplevelse for livet, med godt selskab, god træning og afslappende
                saunagus.</p>
            <button mat-flat-button color="accent" routerLink="/events">Se mere</button>
        </div>
    </div>

    <div class="row" id="review-section">
        <h5>GLADE, SEJE MEDLEMMER AF GARAGEN</h5>
        <div class="col-lg-5">
            <img src="../../assets/images/stars.png" alt="Anmeldelse" class="review-img">
            <p>
                "Jeg træner hos Cat fordi det giver mig luft, styrke og ikke mindst en kæmpe glæde i at blive stærkere
                sammen med andre skønne damer. Det er sjovt at blive stærk! Ugens ro til hovedet og kroppen! Det er det
                bedste træning jeg har gået til. Jeg føler at jeg bliver stærkere og det er ugens gave til mig selv at
                træne med Cat i garagen."
            </p>
            <small>Line Marie</small>
            <br><br>
            <img src="../../assets/images/stars.png" alt="Anmeldelse" class="review-img">
            <p>
                "Jeg træner for at blive stærkere og føle mig stærkere. Jeg træner ved Catrine fordi jeg ikke kan undvære
                det. Det er magisk at træne udendørs hele året, og kan slet ikke forestille mig at skulle træne
                indendørs længere"
            </p>
            <small>Dorthe</small>
            <br><br>
            <img src="../../assets/images/stars.png" alt="Anmeldelse" class="review-img">
            <p>
                "Træningen og fællesskabet giver mig motivation til at yde mere end når jeg træner selv. Der er super god
                energi i træningen."
            </p>
            <small>Line</small>
            <br><br>
        </div>
        <div class="col-lg-5">
            <img src="../../assets/images/stars.png" alt="Anmeldelse" class="review-img">
            <p>
                "Træningen passer rigtig godt til mit temperament – det er alsidigt og så skønt at det er udenfor året
                rundt. Humøret kommer i top, efter 1 time med friske kinder, ømme trætte muskler, god musik og hygge/
                grin med de skønneste træningsmakkere."
            </p>
            <small>Gry</small>
            <br><br>
            <img src="../../assets/images/stars.png" alt="Anmeldelse" class="review-img">
            <p>
                "Jeg elsker det er et udendørs koncept, og så er der bare noget over man er en del af et hold, man
                presser sig selv bedre end træning alene. Et ekstra plus er at vi har det mega sjovt specielt når
                træningen er ekstra hård. Catrine kan stadig overraske med øvelser for muskler man ikke vidste man havde."
            </p>
            <small>Karina</small>
        </div>
    </div>

    <div class="row" id="bottom-section">
        <div class="col-lg-6">
            <img src="../../assets/images/thumbnail_IMG_4207.jpg" alt="Catrine Erichson">
        </div>
        <div class="col-lg-6">
            <h1>Træning for alle</h1>
            <p>
                Træning behøver ikke at være kedelig – det skal være en fest for krop og sind! Velkommen til en verden af
                sjov, energi og stærk træning, hvor jeg styrer showet med ekspertise og entusiasme.</p>
            <button mat-flat-button color="primary" routerLink="/ommig">Læs mere</button>
        </div>
    </div>

</div>