<div class="content">
    <h1>Træning for alle</h1>

    <p id="sub-title">Jeg hedder Catrine Erichson og er 38 år. Mor til 2 skønne piger og hustru til en dejlig mand.
        Jeg er tidligere hold-instruktør fra Fitness World, elsker crossfit, styrketræning og træning hvor jeg bliver
        udfordret samtidig med at jeg har det sjovt. Jeg har i knap 3 år haft min egen lille lukkede “garage” hvor et
        lille
        lukket hold har dyrket crossfit inspireret træning. Det har nu ført til “Erichsons Garage”</p>

    <h3>Træning i Erichsons Garage</h3>
    <img src="/assets/images/IMG_3835.jpeg" alt="Catrine Erichson" class="wrap-image">
    <p>Træning behøver ikke at være kedelig – det skal være en fest for krop og sind! Velkommen til en verden af sjov,
        energi og stærk træning, hvor jeg styrer showet med ekspertise og entusiasme.
        <br><br>
        Med en crossfit-inspireret tilgang til fitness og styrketræning gør jeg mit yderste for at skabe et
        træningsmiljø,
        der er lige så givende som det er sjovt. Du vil opdage en helt ny måde at træne på, hvor hver session er fyldt
        med
        udfordrende øvelser og en følelse af fællesskab, der driver dig til at nå dine mål.
        <br><br>
        Makkerøvelser er mit speciale! Med mig som din coach, vil du opleve den utrolige dynamik og motivation, der
        opstår,
        når du træner sammen med en partner. Fra intense HIIT-workouts til styrketræning med vægte, vil du og din makker
        blive udfordret og styrket på en helt ny måde.
        <br><br>
        Jeg går ud over det sædvanlige for at sikre, at hver træning er fyldt med variation og sjov. Med kreativitet og
        erfaring skaber vi sammen en unik træningsoplevelse hver gang, der holder dig engageret og motiveret.
        <br><br>
        Uanset om du er erfaren eller helt ny i trænings-og fitnessverdenen, er der plads til dig i Erichsons Garage.
        Med
        personlig opmærksomhed og skræddersyet træning, vil du føle dig tryg og velkommen fra det øjeblik, du kommer i
        min garage.
        <br><br>
        Lad os sammen opdage glæden ved træning og styrke vores kroppe og sind med mig ved roret. Tag det første skridt
        mod
        en stærkere, sundere dig i dag!</p><br>

        <div class="actions">
            <button mat-flat-button color="accent" routerLink="/medlemskab">Tilmeld dig her</button>
        </div>
</div>