<div class="header">
  <h1>Holdoversigt</h1>
</div>
<div class="content">

  <div class="section">
    <div id="div1">
      <h1>Herrehold/mix</h1>
      <h6>Tirsdage 18:00-19:00</h6>
    </div>
    <div class="description">
      <p>Træn med 1 gang om ugen.
        Vi træner med kettebells, slamballs, håndvægte,
        vægtstænger og med egen kropsvægt.
        Alle kan være med og alle øvelser kan
        skaleres op eller ned alt efter behov.</p>
    </div>
  </div>


  <div class="section">
    <div id="div2">
      <h1>Damehold 1</h1>
      <h6>Tirsdage 19:30-20:30</h6>
      <h6>Torsdage 19:00-20:00</h6>
    </div>
    <div class="description">
      <p>
        Træn med enten 1 eller 2 gange om ugen.
        Vi træner med kettebells, slamballs, håndvægte,
        vægtstænger og med egen kropsvægt.
        Alle kan være med og alle øvelser kan
        skaleres op eller ned alt efter behov.
      </p>
    </div>
  </div>

  <div class="section">
    <div id="div3">
      <h1>Damehold 2</h1>
      <h6>Tirsdage 20:30-21:30</h6>
      <h6>Torsdage 20:00-21:00</h6>
    </div>
    <div class="description">
      <p>
        Lukket hold.
        Vi træner med kettebells, slamballs, håndvægte,
        vægtstænger og med egen kropsvægt.
        Alle kan være med og alle øvelser kan
        skaleres op eller ned alt efter behov.
      </p>
    </div>
  </div>
</div>
<div id="prices-container">
  <div id="prices">
    <h3>Priser</h3>
    <p>
      1 gang om ugen: 350 kr / mdr (fast enten tirsdag eller torsdag) <br>
      2 gange om ugen: 550 kr / mdr <br>
      Betales forud før d.1. i hver måned <br>
    </p>
  </div>
</div>